body{
    background-color: #13141b;
    color: #ffffff;
    background-image: url(images/bg-image.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
}
.form-control{
    background-color:rgba(255, 255, 255, 0.2);
    padding: 22px;
    border: none;
    border-radius: 25px;
}
.btn{
    border-radius: 1.5rem;
    padding: 9px 20px;
}
.btn-privious{
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
}
.navbar-toggler {
    border: none;
}
.header-title {
    color: #3BD96E;
}
.search-box{
    position: relative;
}
.search-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
.song-result{
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
}
.output {
    display: none; 
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0, 0, 0); 
    background-color: rgba(0,0,0,0.4);
}
.output-content {
    background-color: whitesmoke;
    color: #1abc9c;
    margin: auto;
    padding: 20px;
    border: 1px solid rgb(95, 95, 95);
    width: 60%;
    border-radius: 15px;
}
.lyrics-name{
    margin-bottom: 20px;
}
.lyrics-text {
    color: #e74c3c;
}
.song-detail {
    color: whitesmoke;
}
footer{
    color: orchid;
    text-align: center;
}

